.educationSection {
  padding: 6rem 12vw;
  font-family: sans-serif;
  background: linear-gradient(180deg, #0f172a, #020617);
}

.header {
  text-align: center;
  margin-bottom: 4rem;
}

.title {
  font-size: 2.8rem;
  font-weight: bold;
  color: white;
}

.line {
  width: 8rem;
  height: 4px;
  background-color: #0D3B66;
  margin: 1rem auto;
}

.subtitle {
  color: #9ca3af;
  font-size: 1.1rem;
  font-weight: 600;
}

/* Timeline */
.timeline {
  position: relative;
}

.verticalLine {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: white;
}

/* Entry */
.entry {
  display: flex;
  margin-bottom: 4rem;
  position: relative;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

/* Circle */
.circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4rem;
  height: 4rem;
  background-color: #9ca3af;
  border: 4px solid #17033a;
  border-radius: 50%;
  z-index: 10;
  overflow: hidden;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card */
.card {
  width: 100%;
  max-width: 420px;
  padding: 2rem;
  margin: 0 10rem;
  background-color: #1E5288;
  border-radius: 1.5rem;
  border: 1px solid white;
  box-shadow: 0 0 20px #3A6EA5;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.cardHeader {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.logo {
  width: 6rem;
  height: 4rem;
  background: white;
  border-radius: 6px;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h3 {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.card h4 {
  color: #d1d5db;
  font-size: 0.95rem;
}

.card span {
  color: #6b7280;
  font-size: 0.85rem;
}

.grade {
  margin-top: 1rem;
  color: #9ca3af;
  font-weight: bold;
}

.desc {
  margin-top: 1rem;
  color: #9ca3af;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
  .verticalLine {
    left: 0;
  }

  .circle {
    left: 0;
    transform: translateX(-50%);
  }

  .entry {
    justify-content: flex-start;
  }

  .card {
    margin-left: 4rem;
    margin-right: 0;
  }
}
