
.aboutSection {
  padding: 4rem 7vw;
  margin-top: 8rem;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.greeting {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.name {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.role {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: aliceblue;
}

.roleText {
  color: white;
}

.cursor {
  color: #0D3B66;
}

.description {
  font-size: 1.1rem;
  color: #9ca3af;
  line-height: 1.7;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.button {
  display: inline-block;
  padding: 0.8rem 2.5rem;
  border-radius: 999px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background: linear-gradient(90deg, #0D3B66, #0D3B66);
  box-shadow: 0 0 10px #0D3B66;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.05);
}

.tilt {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 4px solid #0D3B66;
  
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 20px #1E5288;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .left,
  .right {
    width: 100%;
    justify-content: center;
  }

  .tilt {
    width: 16rem;
    height: 16rem;
  }
}
