.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  padding: 1rem 7vw;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.scrolled {
  background-color: rgba(5, 4, 20, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  gap: 0.2rem;
  color: aliceblue;
}

.accent {
  color: #0D3B66;
}

.menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.menuItem button {
  background: none;
  border: none;
  color: #3A6EA5;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menuItem button:hover {
  color: #0D3B66;
}

.active button {
  color: #1E5288;
}

.social {
  display: flex;
  gap: 1rem;
}

.social a {
  color: #3A6EA5;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social a:hover {
  color: #0D3B66;
  transform: scale(1.1);
}

.mobileIcon {
  display: none;
  cursor: pointer;
  color: #0D3B66;
}

.mobileMenu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: rgba(5, 4, 20, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  padding: 1rem 0;
  text-align: center;
}

.mobileMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobileSocial {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .menu,
  .social {
    display: none;
  }
  .mobileIcon {
    display: block;
  }
}
